<!-- landing.ejs -->

<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/landing.css">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>

  <section id="hero">
    <div class="container">
      <h1 class="hero-title">Welcome to Postfriend</h1>
      <p class="hero-description">
        Share your thoughts, ideas, and collaborate with others in a giant shared space.
      </p>
      <a href="/auth/login" class="btn btn-primary">Get Started</a>
    </div>
  </section>
</body
